@model FarmProduct.Web.Models.ErrorModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <div style="color: Red">
        Message:
        @Model.ErrorMessage
    </div>
    <div>
        StackTrace: @Model.StackTrace</div>

</body>
</html>
